{% extends "base.html" %}

{% block body %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
	
    <div class="col-lg-3">
	<h2>BULK</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BULK</td>
      <td>Crazurite</td>
      <td>3722</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Cropion</td>
      <td>3558</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Charoite</td>
      <td>3338</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Cragma</td>
      <td>1923</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Chief</td>
      <td>1872</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Rocco</td>
      <td>1106</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Crava</td>
      <td>922</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>C-Rex</td>
      <td>760</td>
    </tr>
  </tbody>
</table>
	
    </div>

    <div class="col-lg-3">
<h2>SURGE</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SURGE</td>
      <td>Spikey</td>
      <td>233</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Cratos</td>
      <td>150</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Emeraldo</td>
      <td>118</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Vocrano</td>
      <td>60</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Frozo</td>
      <td>30</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Rubie</td>
      <td>29</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Crazor</td>
      <td>23</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Amida</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
    </div>

    <div class="col-lg-3">
	<h2>PRIME</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PRIME</td>
      <td>Binance</td>
      <td>1943</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Avalanche</td>
      <td>1759</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Cardano</td>
      <td>1367</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Fantom</td>
      <td>1198</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Solana</td>
      <td>950</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Near</td>
      <td>920</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Ethereum</td>
      <td>684</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Bitcoin</td>
      <td>272</td>
    </tr>
  </tbody>
</table>
   </div>

    <div class="col-lg-3">
      <h2>GEM</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GEM</td>
      <td>Cranet</td>
      <td>1791</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Earl Cray</td>
      <td>916</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Croyo</td>
      <td>540</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Pearlio</td>
      <td>537</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Lapidari</td>
      <td>445</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Magnifiso</td>
      <td>256</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Cramethyst</td>
      <td>221</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Paraiba</td>
      <td>138</td>
    </tr>
  </tbody>
</table>
   </div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>CRABOID</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CRABOID</td>
      <td>Redeye</td>
      <td>762</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Gear</td>
      <td>634</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Plasma</td>
      <td>618</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Crocket</td>
      <td>558</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Cropter</td>
      <td>495</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Onepunch</td>
      <td>425</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Twinner</td>
      <td>230</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Lasery</td>
      <td>169</td>
    </tr>
  </tbody>
</table>
    </div>

    <div class="col-lg-3">
      <h2>RUINED</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RUINED</td>
      <td>Crauldron</td>
      <td>499</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Cragon</td>
      <td>222</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Deadeye</td>
      <td>213</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Pharaoh</td>
      <td>194</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Crailer</td>
      <td>99</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Cranosis</td>
      <td>71</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Crombie</td>
      <td>67</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Skul</td>
      <td>48</td>
    </tr>
  </tbody>
</table>
    </div>

    <div class="col-lg-3">
      <h2>SUNKEN</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SUNKEN</td>
      <td>Staro</td>
      <td>491</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crucket</td>
      <td>193</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Creasure</td>
      <td>157</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crotopus</td>
      <td>157</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crele</td>
      <td>139</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crobster</td>
      <td>120</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Craken</td>
      <td>79</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Cralmon</td>
      <td>32</td>
    </tr>
  </tbody>
</table>
   </div>

    <div class="col-lg-3">
      <h2>ORGANIC</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ORGANIC</td>
      <td>Adam</td>
      <td>461</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Crawberry</td>
      <td>159</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Natura</td>
      <td>114</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Eva</td>
      <td>69</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Celon</td>
      <td>25</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Cranana</td>
      <td>25</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Bulbie</td>
      <td>22</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Freshie</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
   </div>


  </div>
</div>
{% endblock %}
