{% extends "base.html" %}

{% block body %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
	
    <div class="col-lg-3">
	<h2>BULK</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BULK</td>
      <td>Crazurite</td>
      <td>3781</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Cropion</td>
      <td>3631</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Charoite</td>
      <td>3399</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Cragma</td>
      <td>1946</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Chief</td>
      <td>1907</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Rocco</td>
      <td>1124</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Crava</td>
      <td>944</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>C-Rex</td>
      <td>772</td>
    </tr>
  </tbody>
</table>
	
    </div>

    <div class="col-lg-3">
<h2>SURGE</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SURGE</td>
      <td>Spikey</td>
      <td>280</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Cratos</td>
      <td>170</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Emeraldo</td>
      <td>145</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Vocrano</td>
      <td>67</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Frozo</td>
      <td>34</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Rubie</td>
      <td>30</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Crazor</td>
      <td>23</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Amida</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
    </div>

    <div class="col-lg-3">
	<h2>PRIME</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PRIME</td>
      <td>Binance</td>
      <td>2100</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Avalanche</td>
      <td>1886</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Cardano</td>
      <td>1448</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Fantom</td>
      <td>1291</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Solana</td>
      <td>998</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Near</td>
      <td>990</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Ethereum</td>
      <td>734</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Bitcoin</td>
      <td>292</td>
    </tr>
  </tbody>
</table>
   </div>

    <div class="col-lg-3">
      <h2>GEM</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GEM</td>
      <td>Cranet</td>
      <td>1851</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Earl Cray</td>
      <td>956</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Croyo</td>
      <td>570</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Pearlio</td>
      <td>553</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Lapidari</td>
      <td>453</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Magnifiso</td>
      <td>270</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Cramethyst</td>
      <td>229</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Paraiba</td>
      <td>145</td>
    </tr>
  </tbody>
</table>
   </div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>CRABOID</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CRABOID</td>
      <td>Redeye</td>
      <td>846</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Plasma</td>
      <td>704</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Gear</td>
      <td>703</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Crocket</td>
      <td>631</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Cropter</td>
      <td>555</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Onepunch</td>
      <td>482</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Twinner</td>
      <td>267</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Lasery</td>
      <td>191</td>
    </tr>
  </tbody>
</table>
    </div>

    <div class="col-lg-3">
      <h2>RUINED</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RUINED</td>
      <td>Crauldron</td>
      <td>538</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Cragon</td>
      <td>241</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Deadeye</td>
      <td>221</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Pharaoh</td>
      <td>208</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Crailer</td>
      <td>110</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Cranosis</td>
      <td>75</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Crombie</td>
      <td>69</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Skul</td>
      <td>49</td>
    </tr>
  </tbody>
</table>
    </div>

    <div class="col-lg-3">
      <h2>SUNKEN</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SUNKEN</td>
      <td>Staro</td>
      <td>557</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crucket</td>
      <td>219</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Creasure</td>
      <td>176</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crotopus</td>
      <td>175</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crele</td>
      <td>150</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crobster</td>
      <td>126</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Craken</td>
      <td>85</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Cralmon</td>
      <td>35</td>
    </tr>
  </tbody>
</table>
   </div>

    <div class="col-lg-3">
      <h2>ORGANIC</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ORGANIC</td>
      <td>Adam</td>
      <td>520</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Crawberry</td>
      <td>175</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Natura</td>
      <td>123</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Eva</td>
      <td>78</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Cranana</td>
      <td>28</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Celon</td>
      <td>25</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Bulbie</td>
      <td>24</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Freshie</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
   </div>


  </div>
</div>
{% endblock %}
