{% extends "base.html" %}

{% block body %}

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
	
    <div class="col-lg-3">
	<h2>BULK</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BULK</td>
      <td>Crazurite</td>
      <td>3628</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Cropion</td>
      <td>3458</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Charoite</td>
      <td>3214</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Cragma</td>
      <td>1885</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Chief</td>
      <td>1831</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Rocco</td>
      <td>1052</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>Crava</td>
      <td>880</td>
    </tr>
    <tr>
      <td>BULK</td>
      <td>C-Rex</td>
      <td>742</td>
    </tr>
  </tbody>
</table>	
    </div>

    <div class="col-lg-3">
<h2>SURGE</h2>
<table border="1" class="dataframe">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SURGE</td>
      <td>Spikey</td>
      <td>180</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Cratos</td>
      <td>113</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Emeraldo</td>
      <td>93</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Vocrano</td>
      <td>53</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Rubie</td>
      <td>26</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Frozo</td>
      <td>25</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Amida</td>
      <td>18</td>
    </tr>
    <tr>
      <td>SURGE</td>
      <td>Crazor</td>
      <td>18</td>
    </tr>
  </tbody>
</table>
    <div class="col-lg-3">
	<h2>PRIME</h2>
	<table border="1" class="dataframe">
  <thead>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PRIME</td>
      <td>Binance</td>
      <td>1686</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Avalanche</td>
      <td>1507</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Cardano</td>
      <td>1203</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Fantom</td>
      <td>1030</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Solana</td>
      <td>816</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Near</td>
      <td>780</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Ethereum</td>
      <td>582</td>
    </tr>
    <tr>
      <td>PRIME</td>
      <td>Bitcoin</td>
      <td>228</td>
    </tr>
  </tbody>
</table>    <div class="col-lg-3">
      <h2>GEM</h2>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GEM</td>
      <td>Cranet</td>
      <td>1624</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Earl Cray</td>
      <td>841</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Pearlio</td>
      <td>486</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Croyo</td>
      <td>484</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Lapidari</td>
      <td>403</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Magnifiso</td>
      <td>233</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Cramethyst</td>
      <td>197</td>
    </tr>
    <tr>
      <td>GEM</td>
      <td>Paraiba</td>
      <td>125</td>
    </tr>
  </tbody>
</table>  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>CRABOID</h2>
		<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CRABOID</td>
      <td>Redeye</td>
      <td>607</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Gear</td>
      <td>505</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Plasma</td>
      <td>484</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Crocket</td>
      <td>433</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Cropter</td>
      <td>383</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Onepunch</td>
      <td>332</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Twinner</td>
      <td>167</td>
    </tr>
    <tr>
      <td>CRABOID</td>
      <td>Lasery</td>
      <td>135</td>
    </tr>
  </tbody>
</table>		<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>RUINED</td>
      <td>Crauldron</td>
      <td>430</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Cragon</td>
      <td>198</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Deadeye</td>
      <td>174</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Pharaoh</td>
      <td>156</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Crailer</td>
      <td>85</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Crombie</td>
      <td>62</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Cranosis</td>
      <td>59</td>
    </tr>
    <tr>
      <td>RUINED</td>
      <td>Skul</td>
      <td>47</td>
    </tr>
  </tbody>
</table>  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SUNKEN</td>
      <td>Staro</td>
      <td>373</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crucket</td>
      <td>163</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Creasure</td>
      <td>129</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crotopus</td>
      <td>119</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crele</td>
      <td>106</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Crobster</td>
      <td>100</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Craken</td>
      <td>62</td>
    </tr>
    <tr>
      <td>SUNKEN</td>
      <td>Cralmon</td>
      <td>30</td>
    </tr>
  </tbody>
</table>    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>class</th>
      <th>pincerType</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ORGANIC</td>
      <td>Adam</td>
      <td>341</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Crawberry</td>
      <td>130</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Natura</td>
      <td>87</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Eva</td>
      <td>61</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Cranana</td>
      <td>24</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Celon</td>
      <td>23</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Bulbie</td>
      <td>20</td>
    </tr>
    <tr>
      <td>ORGANIC</td>
      <td>Freshie</td>
      <td>15</td>
    </tr>
  </tbody>
